**/*/__pycache__
**/*/.pytest_cache
.terraform.lock.hcl
.terraform*
*.tfstate*

samples-data/scrape_large.json
.venv

dist/
build/
.mypy_cache


.idea

deploy/output/*
!deploy/output/.gitkeep
.coverage
.DS_Store
data/

apis/node_modules*
apis/.serverless*

src/.ipynb_checkpoints
